:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 743px;
    width: 650px;
    background-image: url(./images/small-header.jpg);
}

.title {
    overflow: hidden;
    position: relative;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 650px;
    background-color: aqua;
    filter: alpha(Opacity=90);
    opacity: 0.5;
    gap: 6px;
}


.logo {
    height: 70px;
    width: 60px;
}

.nameTitle {
    font-weight: 500;
    font-size: 2.2rem;
    color: black;
}

.credits {
    text-align: left;
    color: white;
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;
    max-height: 750px;
    width: 100vw;
}

.fontMain {
    font-size: 1.5rem;
}

.fontMain.introTxt {
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
    padding: 40px;
    color: yellow;
/* Created with https://www.css-gradient.com */
    background: #020202;
    background: -webkit-linear-gradient(top left, #020202, #494949);
    background: -moz-linear-gradient(top left, #020202, #494949);
    background: linear-gradient(to bottom right, #020202, #494949);
}

.formIntro {
    display: flex;
    height: 40px;
    padding: 6px 40px;
    margin-bottom: 15px;
    justify-content: flex-start;
    align-items: center;
    /* Created with https://www.css-gradient.com */
    background: #BCF9FF;
    background: -webkit-linear-gradient(top left, #BCF9FF, #17FFFF);
    background: -moz-linear-gradient(top left, #BCF9FF, #17FFFF);
    background: linear-gradient(to bottom right, #BCF9FF, #17FFFF);
}

.itali {
    font-style: italic;
}

.fontMain.topTxt {
    width: 700px;
}

.fontMain.smallTxt {
    margin-bottom: 20px;
}

.form {
    width: 100%;
}

.frm {
    height: 300px;
}

.formConfirm {
    display: flex;
    height: 200px; 
    padding: 40px;
    background: #020202;
    background: -webkit-linear-gradient(top left, #020202, #494949);
    background: -moz-linear-gradient(top left, #020202, #494949);
    background: linear-gradient(to bottom right, #020202, #494949);
}

.formSubmit {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formInputs {
    display: flex;
    font-size: 1.3rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    padding: 10px 40px;
}

.form li > .firstName, .lastName, .email, .phoneNumber, .password, .confirmPassword {
    border: none; 
    border-bottom: 0;
    margin-bottom: 0px; 
    position: relative; 
}


ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    padding: 5px;
    width: 1000px;
}

.firstName >label, .lastName>label, .email>label, .phoneNumber>label, .password >label, .confirmPassword >label{
    display: block; 
    border: 0;
}
 
.firstName>input, .lastName >input, .email>input, .phoneNumber >input, .password > input, .confirmPassword > input{ 
   display: block;
   font-size: .8125em;;
    width: 300px; 
    height: 50px; 
    padding: 2.25em 1em 1em; 
    outline: 0;
    border: 0;
    border-bottom: 2px solid #000
}
 
.firstName >label, .lastName>label, .email>label, .phoneNumber>label, .password >label, .confirmPassword >label {
    font-size: .8125em;/* 13/16 */
    position: absolute; 
    top: -.3em;
    left: 0.3em;
    color: #f1773b;
    opacity: 1;
    -webkit-transition: .333s ease top, .333s ease opacity;
    transition: .333s ease top, .333s ease opacity;
}

.js-hide-label label {
    opacity: 0; 
    top: -0.3rem
}

.js-unhighlight-label label {
    color: #999
}



.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}

form i{
    float: right;
    top: -25px;
    right: 10px;
    position: relative;
    cursor: pointer;
}

small {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 250px;
    padding: 8px 18px;
    background: red;
    border-bottom: 2px solid red;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
    }
    
.btn:hover {
    background: pink;
    cursor: pointer;
    }
    
.btn:focus {
    outline: none;
    }

    .accountQ {
        color: yellow;
    }


/*@keyframes emailCaret-anim{
    from   {
        opacity: 1;
}
    50% {
        opacity: 1;
    }
    
    51% {
        opacity: 0;
    }
    to {   
        opacity: 0;
    }

}

@keyframes emailLoading-anim{
    from   {
    height: 0;
    left: 0;
    opacity: 1;
    top: 0;
    width: 0;
    }

    to {   
    height: 30px;
    left: -15px;
    opacity: 0;
    top: -15px;
    width: 30px;
    }

}


.email {
    align-items: center;
    display: flex;
    flex: 0 0 100%;
    position: relative;
}

.invalidEmail {
    color: #ff6000;
    display: none;
    font-size: 15px;
    left: 0;
    position: absolute;
    right: 0;
    top: -15px;
}

.email label {
    color: #9c9503;
    font-size: 23px;
    left: 8px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 5px;
    transition: all .3s ease;
}

input[type=email] {
    background: none;
    border: 0;
    border-bottom: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #000;
    flex: 1 1 auto;
    font-size: 23px;
    line-height: 1.2;
    outline: 0;
    padding: 5px 2px;
    transition: border .3s ease;
}



.emailLoading {
    display: none;
}

.emailLoading div {
    -webkit-animation: emailLoading-anim 1s cubic-bezier(0,.2,.8,1) infinite;
    animation: emailLoading-anim 1s cubic-bezier(0,.2,.8,1) infinite;
    border: 2px solid #000;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
}

.emailLoading div:nth-child(2) {
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s;
}

.emailCaret {
    -webkit-animation: emailCaret-anim 1s ease-in-out infinite;
    animation: emailCaret-anim 1s cubic-bezier(0,.2,.8,1) infinite;
    background: #9c9503;
    content: " ";
    height: 20px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 4px;
}
*/
